@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

a {
    text-decoration: none;
    display: inline;
    color: black;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
}

header .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

header .icons span {
    color: white;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

nav .nav-logo-container {
    margin-left: 50px;
}

nav .nav-logo-container img {
    width: 220px;
    margin-top: 10px;
}


nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
    font-family: 'Agdasima', sans-serif;
    font-size: larger;
}


nav .profile-link a {
    color: black;
    border-bottom: 1px solid black;

}

.main-div {
    display:grid;
    grid-row: repeat(4, 1fr);
    height:600px;
    background-image: url("../assets/img/Cover.png");
    background-size:cover;
    background-position: center;
}

.intro {
    color: white;
    grid-row: 2 / 3;
    margin: auto;
    font-family: 'Agdasima', sans-serif;
    font-size: larger;
}

button {
    background-color: #47cfac;
    color: black;
    width: 80px;
    height: 35px;
    grid-row: 3 / 4;
    margin: auto;
    font-family: 'VT323', monospace;
}

