@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Agdasima', sans-serif;
    background-color: #f1ddbf;
    font-size: larger;
}

.home-body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.grid-container {
    max-width: 980px;
    margin: auto;
}

a {
    text-decoration: none;
    display: inline;
    color: black;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #92BA92;
}

header .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

header .icons span {
    color: #f1ddbf;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

nav .nav-logo-container {
    margin-left: 50px;
}

nav .nav-logo-container img {
    width: 220px;
    margin-top: 10px;
}


nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
    font-family: 'Agdasima', sans-serif;
    font-size: larger;
}


nav .profile-link a {
    color: black;
    border-bottom: 1px solid black;

}

.main-div {
    display:grid;
    grid-row: repeat(4, 1fr);
    height:600px;
    background-image: url("../assets/img/Toronto-14-04-09-artscience-cafe-osc-crop-small-1.jpg");
    background-size:cover;
    background-position: center;
}

.intro {
    color: black;
    grid-row: 2 / 3;
    margin: auto;
    margin-top: 35%;
    padding-bottom: 20px;
    font-family: 'Agdasima', sans-serif;
    font-size: 40px;
}

button, .blogs-button {
    background-color: #92BA92;
    border-radius: 11px;
    color: black;
    width: 80px;
    letter-spacing: 2px;
    height: 35px;
    grid-row: 3 / 4;
    margin: auto;
    font-family: 'VT323', monospace;
}

button:hover, .blogs-button:hover {
    background-color: #525e75;
    color: #92BA92
}

.blogs-main {
    display: grid;
    font-family: 'Agdasima', sans-serif;
    font-size: 22px;
}

.blogs-news-container {
    background-color: #78938a;
    border-radius: 15px;
    padding: 0px 50px 40px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 5px 5px;
}

.blogs-main-new {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}

.blogs-news-img-container {
    grid-column: 1;
}

.blogs-news-img-container img {
    width: 85%
}

.blogs-news-info-container {
    grid-column: 2;
}

.blogs-news-info-container p {
    margin-bottom: 35px;
}

.blogs-posts-container {
    padding: 0 50px 40px;
}

.blogs-posts-container h3 {
    border-bottom: 1px solid #525e75;
    padding-bottom: 20px;
    text-align: center;
}

.blogs-button {
    border: 1px solid #92BA92;
    padding: 10px 15px;
    font-size: 17px;
    border-radius: 12px;
}

.blogs-posts-container .post-container {
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;
}

.blogs-posts-container .post-container p {
    margin-bottom: 35px;
}

.blogs-posts-container .post-container img {
    width: 100%
}

footer {
    width: 100%;
    height: 80px;
    background-color: #92BA92 ;
    border-top: 35px solid #525e75;
    text-align: center;
}

footer p {
    color: black;
    margin-top: 30px;
    font-family: 'VT323', monospace;
    font-size: larger;
}

.blogpost-img-container {
    padding: 0 50px 40px;
}

.blogpost-img-container img {
    width: 100%;
}

.blogpost-main-container {
    padding: 0 50px 40px;
    font-family: 'Agdasima', sans-serif;
    font-size: 22px;
}

.blogpost-main-container h3 {
    border-bottom: 1px solid #525e75;
    font-size: 28px;
    padding-bottom: 20px;
}

.blogpost-main-container h1  {
    font-size: 35px;
}

.blogpost-main-container article h1 {
    font-size: 35px;
}

.contact-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1;
    background-color: #78938a;
    margin-bottom: 0;
    font-family: 'Agdasima', sans-serif;

}

 .contact-left-container, .contact-right-container  {
    display: flex;
    margin: auto;
    width: 40.5%;
    padding: 30px 30px;
}

.contact-main-container img {
    width: 30%;
    height: 40%;
    justify-self: flex-start;
    padding-right: 10px;
}

.contact-main-container div a {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.post-container {
    font-family: 'Agdasima', sans-serif;
}
